@use '../styles/mediaMixin' as media;

$cartTextFont: 26px 'Lora', serif;
$tableFont: 'Lora', serif;
$tableFontSmall: 18px 'Lora', serif;

.a {
    text-decoration: none;
    color: rgb(29, 20, 148);
    &:hover {
        text-decoration: none;
    }
}

.input {
    @include media.media(xs) {
    }
    text-align: center;
    border: none;
    border-bottom: 2px ridge #4469A0;
    outline-color: azure;
    background-color: rgba($color: azure, $alpha: 0.5);
    padding: 0px 20px;
    font-family: 'Unna', serif;
    font-style: italic;
}   

.cartContainer {
    animation: fadeIn 1s ease-in-out 1;
    @include media.media(xs) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
        margin-top: 100px;
        margin-bottom: 100px;
        .currentCartText {
            font: $cartTextFont;
            text-align: center;
        }
}

.cartTable {
    font-family: $tableFont;
    text-align: center;
    margin-top: 50px;
    place-items: center;
}

.avatarGrid {
    @include media.media(xs) {
        display: flex;
    }
    @include media.media(sm) {
        display: flex;
    }
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    .cols2 {
        @include media.media(xs) {
            display: none;
        }
        @include media.media(sm) {
            display: none;
        }
        grid-area: 1 / 1 / 2 / 3;
    }
    .cols4 {
        @include media.media(xs) {
            grid-area: none;
        }
        @include media.media(sm) {
            grid-area: none;
        }
        grid-area: 1 / 3 / 2 / 7;
        .productName {
            @include media.media(xs) {
                font-size: 12px;
            }
        }
    }
}

.ProductQuantity {
    padding: 0 20px;
    border-bottom: 2px ridge #4469A0;
}

//Empty Cart Message 

.containerMessageWrapper {
    animation: fadeIn 2s ease-in-out 1;
    margin-top: 50px;
}

.messageHeader {
    font: 22px 'Lora', serif;
    text-align: center;
}
.links{
    font-family: 'Lora', serif;
    text-decoration: none;
    color: rgba($color: black, $alpha: 0.5);
}

.thumbnailContainer {
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba($color: black, $alpha: 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    &:hover {
        box-shadow: 5px 10px 20px rgba($color: black, $alpha: 0.5);
        transition: 0.5s ease-in-out;
        transform: scale(1.02);
    }
}

.thumbnailOverflow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    font: 22px 'Parisienne', serif;
    background-color: rgba($color: black, $alpha: 0.75);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
