@use '../styles//mediaMixin' as mixin;
 
// Categories Header

$fontHeader: 52px 'Parisienne';
$fontSubheader: 22px 'Unna';
$headerTextShadow: 0px 2px 5px rgba(255, 255, 255, 1);

@mixin parallaxSetup($image) {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(40%);
  background-image: $image;
}

.rings {
  @include parallaxSetup(url('../public/ParallaxImages/ParallaxRings.jpg'))
}

.earrings {
  @include parallaxSetup((url('../public/ParallaxImages/ParallaxEarrings.jpg')))
}

.necklaces {
  @include parallaxSetup(url('../public/ParallaxImages/ParallaxNecklaces.jpg'))
}

.watches {
  @include parallaxSetup(url('../public/ParallaxImages/ParallaxWatch1.jpg'))
}

.overflowDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgba($color: white, $alpha: 0.55);
  backdrop-filter: grayscale(100%);
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 150px;
}

.pathOpacity1 {
  @include mixin.media(xs) {
    display: none;
  }
}

.pathOpacity2 {
  @include mixin.media(xs) {
    display: none;
  }
}

.shape, .shapeFill1, .shapeFill2{
  fill: #FFFFFF;
}

.shapeFill1 {
  @include mixin.media(xs) {
    display: none;
  }
}

.header {
  text-transform: capitalize;
  font: $fontHeader;
  color: rgba($color: #1a1818, $alpha: 1);
  text-shadow: $headerTextShadow;
}

.subHeader {
  @include mixin.media(xs) {
    font-size: 18px;
  }
  padding: 20px 40px;
  font: $fontSubheader;
  color: rgba($color: #1a1818, $alpha: 1.0);
  letter-spacing: 1px;
  line-height: 30px;
  text-shadow: $headerTextShadow;
}

// Categories content

.container {
  @include mixin.media(xs) {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  .categorieName {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    font: 300 24px 'Lora', serif;
    text-transform: capitalize;
    padding: 20px 15px;
    background-color: white;
  }
  .firstDiv {
    border-radius: 20px;
    margin-bottom: 30px;
    padding-top: 40px;
    border: 4px double rgba(0, 0, 0, 0.25);
  }
}
