@use "../styles/mediaMixin" as mixin;

$fontHeaders: 32px 'Crimson Text', serif;
$fontHeader: 22px 'Crimson Text', serif;
$fontSubheader: italic 16px 'Unna', serif;

.customSection { 
    position: relative;
    overflow: hidden;
    .blockBehind {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform: skewY(-15deg);
        background: linear-gradient(267.59deg, rgba(52, 79, 94, 0.4) 0%, rgba(66, 78, 120, 0.4) 100%);
        z-index: -1;
        border: 10px double white;
    }  
}
.customContainer {
    @include mixin.media(lg) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
    .header {
        @include mixin.media(xs) {
            font-size: 20px;
        }
        color: rgb(119, 119, 119);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font: $fontHeaders;
        justify-content: center;
    }
}

.customCard {
    z-index: -1;
    position: relative;
    overflow: hidden;
    margin-bottom: -52px;
    margin-left: -42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 50%;
    opacity: 0.7;
}

.card {
    z-index: 9;
    .cardBody {
        background: linear-gradient(248.47deg, rgba(203, 213, 236, 0.53) 0%, rgba(180, 187, 206, 0.44) 37.29%, rgba(140, 146, 160, 0.27) 69.85%, rgba(131, 132, 133, 0.19) 100.83%);
        box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
        border-radius: 5px;
        border-top: 2px solid rgba($color: gray, $alpha: 0.5);
        border-collapse: separate;
        border-spacing: 50px;
        color: black;
    }
    .cardTitleName {
        font: $fontHeader;
    }
    .cardTextReview {
       font: $fontSubheader;
       opacity: 0.6;
    }
    .cardFooter {
        flex-direction: row;
        text-align: end;
        margin-top: -12px;
        margin-right: -12px;
        opacity: inherit;
    }
}