@use "../styles/mediaMixin" as mixin;

//*Main Container

.customContainer{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  .divOverflow{
    @include mixin.media(xs) {
      height: 75%;
    }
    @include mixin.media(sm) {
      height: 75%;
    }
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: white;
    opacity: 1;
    transform: skewY(10deg);
    transform-origin: 0 0;
    overflow: visible;
    color: floralwhite;
    width: 100%;
    height: 90%;
  }
  .videoWrapper {
    @include mixin.media(xs) {
      width: 100%;
    }
    @include mixin.media(sm) {
      width: 50%;
    }
    position: absolute;
    overflow: visible;
    width: 25%;
    left: 60%;
    top: 0;
    transform: translate(-60%, 0);
  }
}

.phantomDiv {
  @include mixin.media(xs) {
    height: 50px;
  }
  @include mixin.media(sm) {
    height: 70px;
  }
  @include mixin.media(md) {
    height: 50px;
  }
  @include mixin.media(lg) {
    height: 80px;
  }
  height: 150px;
  color: transparent;
  z-index: 9;
}

.moreInfoContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  .moreInfoWrapper {
    @include mixin.media(xs) {
      width: 90%;
    }
    @include mixin.media(sm) {
      width: 60%;
    }
    @include mixin.media(md) {
      width: 40%;
    }
    @include mixin.media(lg) {
      width: 35%;
    }
    position: relative;
    width: 25%;
    .img {
      @include mixin.media(xs) {
        width: 75%;
      }
      @include mixin.media(md) {
        width: 60%;
      }
      width: 50%;
    }
    .moreInfoContent {
      @include mixin.media(xs)
      {
        font-size: 18px;
      }
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 9 !important;
      color: rgb(26, 32, 104);
      font-family: 'Unna', serif;
      font-weight: lighter;
      font-size: 22px;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

