@use '../styles/mediaMixin' as media;
@use '../styles/fontsMixin' as fonts;

$linksHeadersFont: 18px 'Unna', serif;
$linksFont: 15px 'Unna', serif;

.footer{
    background-image: url('../public/FooterBackground.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin-bottom: 0px;
}

 .customJumbotron{
    background: transparent !important;
    backdrop-filter: brightness(40%);
    margin-bottom: 0px !important;
    height: 100% !important;
    border-bottom: none;
    position: relative;
} 
 
.footerSlogan{
    @include media.media (xs) {
        font-size: 28px;
        padding-top: 60px;
        padding-bottom: 60px;   
    }
    @include fonts.fontMixin("fontEspecial");
    font: 38px 'Italianno', cursive;
    line-height: 65px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
    place-items: center;
    text-align: center;
    color: rgba($color: floralwhite, $alpha: 0.8);
} 

 .rowContentWrapper{
    color: white; 
    display: flex;
    justify-content: center;
    .headers {
        font: $linksHeadersFont;
    }
    .links {
        margin-top: 20px;
        font: $linksFont;
        padding: 0;
        color: rgba($color: floralwhite, $alpha: 0.75);
        text-align: center;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
    }
    .linksMedia {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        height: 100%;
        opacity: 0.7;
        justify-content: center;
        align-items: center;
    }
    .aboutLink {
        font-family: 'Lora', serif;
        font-size: 18px; 
        line-height: 36px;
        display: flex;
        align-items: center;
        text-align: center;
        color: floralwhite;
        opacity: 0.5;
        transition: ease-in-out 0.5s;
        &:hover {
            transition: ease-in 0.5s;
            opacity: 1;
            cursor: pointer;
        }
    }
    .a {
        text-decoration: none;
        text-decoration-color: none;
        color: rgba($color: floralwhite, $alpha: 0.75);
        &:hover {
            text-decoration: none;
            text-decoration-color: none;
            color: rgba($color: floralwhite, $alpha: 1);
        }
    }
    .newsLetterForm {
        @include media.media(xs) {
            font-size: 12px;
        }
        font: $linksHeadersFont;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        text-align: center;
        opacity: 1;
    }
    .customInput {
        @include media.media(xs) {
            font-size: 12px;
        } 
        background-color: rgba($color: gray, $alpha: 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px 0px 2px 2px; 
        color: floralwhite;
        border: none;
        font-style: italic;
    }
    .customButton {
        @include media.media(xs) {
            font-size: 12px;
        } 
        background: #1a3b49;
        font-family: 'Lora', serif;
        letter-spacing: 1px;
        border-radius: 0px 0px 2px 0px;
    }
} 

.smallLettersWrapper {
    @include media.media(xs) {
        margin-bottom: 0;
    }
    position: absolute;
    text-align: center;
    color: rgba($color: floralwhite, $alpha: 0.80);
    letter-spacing: 1px;
    font-family: 'Unna', serif;
    transform: translate(-50%, 0) !important; 
    bottom: 0;
    left: 50%;
    margin-bottom: 20px;
}