@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display+SC&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display+SC&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Satisfy&display=swap');
@import "react-slideshow-image/dist/styles.css";

$fontHeader: 32px 'Crimson Text', serif;

.carousel-caption {
    background-color: rgba($color: gray, $alpha: 0.5);
    width: 100%;
    left: 0;
    bottom: 0;
    font-family: 'Unna', serif;
}

.navbar {
    background: whitesmoke;
    font-family: 'Unna', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-CardImage {
    z-index: -1;
    position: relative;
    overflow: hidden;
    margin-bottom: -64px;
    margin-left: -64px;
    box-shadow: 0px 4px 4px rgba($color: gray, $alpha: 0.5);
}