@use "../styles/mediaMixin" as mixin;
$background: linear-gradient(249.27deg, rgba(247, 247, 247, 0.15) 0%, rgba(230, 229, 229, 0.25) 21.87%, #D5D4D4 39.06%, #D4D4D4 58.33%, rgba(230, 230, 230, 0.25) 79.17%, rgba(247, 247, 247, 0.15) 100%);

$bg-overlay: rgba($color: #C4C4C4, $alpha: 0.5);
$fontSubheader: 'Unna', serif;
$font: 16px 'Unna', serif;  
$border: 4px double rgba($color: gray, $alpha: 0.25);

.customContainer{
    @include mixin.media(xs) {
        margin-top: 20px;
    }
    @include mixin.media(lg) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    .goldBlockSvg {
        position: absolute;
        top: 0;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        line-height: 0;
    }  
    .imageContainer {
        position: relative;
        border-radius: 2px;
        box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
        .image {
            border-radius: 2px;
        }
        &:hover .textOverflowWrapper {
            background-color: rgba($color: white, $alpha: 0.2);
            transition: ease-in-out 1s;
        }
    }
    .textOverflowWrapper {
        transition: ease-in-out 1s;
        position: absolute;
        display: grid;
        place-items: center;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.6);
        font: $font;
        font-weight: lighter;
        .textOverflow {
            text-align: center;
            position: absolute;
            letter-spacing: 1px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            z-index: 9;
            color: rgba($color: white, $alpha: 0.8);
            .goldSentence {
                color: rgba($color: gold, $alpha: 1);
            }
            .silverSentence {
                color: rgba($color: silver, $alpha: 1);
            }
        }
    }
}

.customContainerBanner{
    @include mixin.media(xs) {
        margin-top: 0px;
    }
    position: relative;
    padding-bottom: 75px;
    .goldBlockSvg {
        position: absolute;
        top: 0;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        line-height: 0;
    }  
    .imageContainer {
        position: relative;
        border-radius: 2px;
        .image {
            border-radius: 2px;
            width:100%;
        }
        &:hover .textOverflowWrapper {
            background-color: rgba($color: white, $alpha: 0.2);
            transition: ease-in-out 1s;
        }
    }
    .textOverflowWrapper {
        transition: ease-in-out 1s;
        position: absolute;
        display: grid;
        place-items: center;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.6);
        font: $font;
        font-weight: lighter;
        .textOverflow {
            text-align: center;
            position: absolute;
            letter-spacing: 1px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            z-index: 9;
            color: rgba($color: white, $alpha: 0.8);
            .goldSentence {
                color: rgba($color: gold, $alpha: 1);
            }
            .silverSentence {
                color: rgba($color: silver, $alpha: 1);
            }
        }
    }

}
.ChampagneSavartAllocation {
  width: 1080px;
  height: 53px;
  margin: 0 0 6px;
  font-family: Jost;
  font-size: 36px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.TastingWithFrederiRarities {
  width: 1080px;
  height: 52px;
  margin: 0 0 6px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.home_button {
  width: 128px;
  height: 32px;
  margin: 34px 326px 0;
  padding: 7px 20.2px 6px 30px;
  border-radius: 16px;
  background-color: #ffffff;
}
.Explore {
  width: 54px;
  height: 19px;
  margin: 0 4.8px 0 0;
  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #9b2120;
}
.arrow_back_black_24dp {
  width: 19px;
  height: 19px;
  margin: 0 0 0 4.8px;
  object-fit: contain;
}
.Rectangle_2 {
  width: 1600px;
  height: 46px;
  margin: 16.1px 0 700px;
  padding: 12px 230px 11px 528px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
}
.WineriesPriceList {
  width: 544px;
  height: 23px;
  margin: 0 25px 0 0;
  font-family: Jost;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #343434;
}
.Lorem_ipsum_dolor_labore {
  margin: 72px 160px 38px;
  font-family: Jost;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.About {
  height: auto;
  background-color: #ffffff;
}
.WEA_Wines_ourselves {
  width: 763px;
  height: 92px;
  margin: 0 0 14px;
  font-family: Jost;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.WEA_Wines_ourselves_sub {
  width: 100%;
  height: 92px;
  margin: 40px 50px 10px;
  font-family: Jost;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.WEA_Wines_ourselves_sub1 {
  width: 500px;
  height: 300px;
  font-family: Jost;
  font-size: 16px;
  text-align: left;
  color: #2e2e2e;
}
.Wines_we_love_to_drink {
  width: 650px;
  height: 29px;
  margin: 0px 50px 50px;
  opacity: 0.94;
  font-family: Jost;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b2120;
}
.Rectangle_7 {
  width: 308px;
  height: 246px;
  margin: 0px 6px 7px 150px;
  padding: 84px 43px 83px 44px;
  border-radius: 27px;
  background-color: #f9f9f9;
}
.Who_we_are {
  width: 221px;
  font-family: Jost;
  font-size: 34px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #474747;
}
.Mission_Statement {
  width: 210px;
  height: 26px;
  margin: 0 0 0 5px;
  font-family: Jost;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2e2e2e;
}
.Image_16 {
  width: 500px;
  height: 400px;
  margin: 7px 3px 5px 150px;
  object-fit: fill;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 5px #ffffff;
}
.Small_headings {
  font-family: Jost;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.Small_heading1 {
  margin-top : 2%;
  font-family: Jost;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e2e;
}
.Rectangle_204 {
  width: 670px;
  height: 454px;
  margin: 30px 340px 175px;
  padding: 42px 66px 49px 67px;
  background-color: #f8f8f8;
}
.Join_our_Mailing_List {
  width: 280px;
  height: 32px;
  margin: 0 130px 14px;
  font-family: Jost;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #9b2120;
}
.Signup_to_receive {
  width: 524px;
  height: 46px;
  margin: 14px 7px 46px 6px;
  font-family: Jost;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}
.Rectangle_205 {
  width: 537px;
  height: 53px;
  padding: 15px 440px 15px 18px;
  border-radius: 4px;
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
}
.Rectang_206 {
  width: 537px;
  height: 53px;  
  margin: 12px 0 35px;
  padding: 15px 440px 15px 18px;
  border-radius: 4px;
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
}
.Rectangle_12 {
  width: 150px;
  height: 40px;
  margin: 3px 125px 14px 154px;
  border-radius: 20px;
  background-color: #9b2120;
}
.Subscribe {
  width: 72px;
  height: 20px;
  font-family: Jost;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}
.Terms_and_Privacy_Policy {
  width: 428px;
  height: 18px;
  margin: 14px 55px 0 54px;
  font-family: Jost;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}
.Lets_Connect {
  width: 152px;
  height: 38px;
  margin: 60px 419.4px 34px 230px;
  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b2120;
}
.Rectangle_209 {
  width: 437px;
  height: 183px;
  margin: 19px 42.4px 36px 150px;
  padding: 15px 166px 145px 18px;
  border-radius: 4px;
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
  overflow: hidden;
}
.telephone {
  width: 106px;
  height: 23px;
  margin: 46.4px 327px 36.6px 12.3px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
}
.placeholder_loc {
  width: 19.2px;
  height: 27.3px;
  margin: 42.7px 14.8px 35.9px 43px;
  object-fit: contain;
}
.mail {
  height: 25.3px;
  margin: 34px 0 31.7px 12px;
  object-fit: contain;
}
.telephone {
  width: 23.7px;
  height: 23.7px;
  margin: 4.4px 1.3px 3px 45px;
  object-fit: contain;
}
.Rectangle_166 {
  margin: 1px 220px 20px;
  padding: 146px 473px;
  opacity: 0.55;
  background-color: #000000;
}
.Mask_Group_30 {
  width: 1140px;
  height: 345px;
  margin: 40px 230px 0;
  padding: 146px 473px;
  object-fit: contain;
  opacity: 0.55;
  background-color: #000000;
}
.WEA_from_Home_Subscription {
  width: 347px;
  height: 38px;
  margin: 0 786px 25px 150px;
  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #9b2120;
}
.STARTER_ADVANCED {
  font-weight: 500;
  color: #9b2120;
}
.Rectangle_128 {
  width: 1600px;
  height: 583px;
  margin: 121px 0 69px;
  padding: 61px 160px 71px;
  background-color: #f8f8f8;
}
.Events {
  width: 74px;
  height: 38px;
  margin: 0 318px 24px 0;
  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #9b2120;
}
.View_All {
  width: 63px;
  height: 20px;
  margin: 18px 3px 24px 304px;
  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #343434;
}
.Mask_Group_26 {
  width: 337px;
  height: 250px;
  border-radius: 10px;
}
.Rectangle_129 {
  width: 357px;
  height: 82px;
  padding: 15px 48px 15px 15px;
  opacity: 0.7;
  background-color: #000000;
}
.Mask_Group_101 {
  width: 357px;
  height: 357px;
  margin: 17px 35px 52px 150px;
  object-fit: contain;
  border-radius: 10px;
}
.Champagne_Allocation {
  width: 429px;
  height: 32px;
  margin: 0 319px 6px 0;
  font-family: Jost;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
}