@use '../styles/mediaMixin' as media;

$fontHeader: 18px 'Crimson Text', serif;
$fontPrice: 14px 'Crimson Text', serif;
$fontSubheader: italic 14px 'Unna', serif;

.a {
    text-decoration: none;
    text-decoration-color: none;
    color: rgba($color: black, $alpha: 0.8);
    &:hover { 
        text-decoration: none;
        text-decoration-color: none;
        color: rgba($color: rgb(28, 95, 156), $alpha: 1);
    }
}

.overflowInfoXs {
    @include media.media(xs) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    @include media.media(sm) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    @include media.media(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    @include media.media(lg) {
        display: none;
    }
}

.input {
    border: none;
    border-bottom: ridge;
    outline-color: azure;
    background-color: rgba($color: azure, $alpha: 0.5);
    padding: 10px 10px;
    font-family: 'Unna', serif;
    font-style: italic;
}

.card {
    @include media.media(sm) {
        height: 90%;
        overflow: hidden;
    }
    border: none;
    background-color: none;
    box-shadow: 5px 5px 10px rgba($color: gray, $alpha: 0.25);
    border-bottom-right-radius: 10px;
    .topImage {
        position: relative;
        overflow: hidden;
        .cardImage {
            position: relative;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .cardTitle {
            @include media.media(xs) {
              padding: 15px 15px;
              font-size: 16px;
            }
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            z-index: 9;
            position: absolute;
            top: 0;
            display: grid;
            background-color: rgba($color: white, $alpha: 0.65);
            place-items: center;
            padding: 20px 20px;
            font: $fontHeader;
            text-transform: capitalize;        
            text-overflow: ellipsis;
            box-shadow: 0px 4px 8px rgba($color: gray, $alpha: 0.5);
            backdrop-filter: blur(5px);
            overflow: hidden; 
            width: 100%;
            white-space: nowrap;
        }
        .divOverflowCartWrapper {
            z-index: 8;
            width: 100%;
            margin-top: 50px;
            display: grid;
            place-items: center;
            height: 100%;
            overflow: visible;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: azure, $alpha: 0.80);
            transition: ease-in-out 0.5s;
            opacity: 0;
        }
    }
    .cardBody{
        background-color: transparent;
        border-bottom: 6px double rgba($color: gray, $alpha: 0.5);
        background-color: transparent;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .cardPriceWrapper {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: none;
        .cardPrice {
            padding: 5px 0px 0px 20px;
            width: 50%;
            text-align: center;
            text-shadow: 0px 2px 2px rgba($color: gray, $alpha: 0.40);
            color: rgba($color: black, $alpha: 0.50);
            font: $fontPrice;
            margin: 0px 20px 15px 0px;
        }
    }
    .cardDescription {
        @include media.media(xs) {
            display: none;
        }
        @include media.media(sm) {
            display: none;
        }
        @include media.media(md) {
            display: none;
        }
        margin-top: 0px;
        margin-bottom: 10px;
        color: rgba($color: black, $alpha: 0.5);
        font: $fontSubheader;
        text-transform: capitalize;        
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
    @include media.media(lg) {
        &:hover {
            cursor: pointer;
            .divOverflowCartWrapper {
                display: grid;
                place-items: center;
                transition: ease-in-out 0.5;
                opacity: 1;
            }
            .cardTitle {
                box-shadow: none;
            }
        }
    }
    .productRating {
        @include media.media(xs) {
            display: none;
        }
    }
}





