$fontHeader: 22px 'Unna', serif;
$fontSubheader: 16px 'Unna', serif;

.customContainer{
    margin-top: 75px; 
    background-image: url('../public/EarthGif.gif');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-top: ridge rgba($color: gainsboro, $alpha: 0.25);
    border-bottom: ridge rgba($color: gainsboro, $alpha: 0.25);
    margin-bottom: 50px;
    .divOverflow {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 75%;
        transform: translate(0%, -50%);
        background-color: rgba($color: black, $alpha: 0.5);
    }
    .theQuote {
        font: $fontHeader;
        color: rgba($color: floralwhite, $alpha: 0.80);
        .quoteAuthor {
            font: $fontSubheader;
            color: rgba($color: floralwhite, $alpha: 0.60);
        }
    }
    .blockFooter {
        font: $fontSubheader;
        color: rgba($color: floralwhite, $alpha: 1);
    }
  }