@use '../styles//mediaMixin' as media;

.container {
    @include media.media(xs) {
        margin-top: 50px;
        margin-bottom: 50px; 
    }
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.contentForLargeScreen {
    @include media.media(xs) {
        display: none;
    }
    @include media.media(sm) {
        display: none;
    }
}

.mobileCarousel {
    @include media.media(xs) {
        display: flex;
    }
    @include media.media(sm) {
        display: block;
    }
    display: none;
    border: 4px double rgba(0,0,0,0.2);
    border-radius: 10px;
    padding-bottom: 20px;
}

.trendingHeader {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    font-family: 'Crimson Text', serif;
    color: rgba(0,0,0,0.5);
    font-size: 22px;
    text-align: center;
    background-color: white;
    padding: 20px 30px;
}

.borderTrendingRow {
    border: 4px double rgba(0,0,0,0.2);
    padding-top: 40px;
    padding: 40px 30px;
    border-radius: 10px;
}